@page "/emedbenefit/add"

@using BenefitsPortal.Domain.Models
@using BenefitsPortal.Domain.Interfaces
@inject IEBenefitsRepository eBenefitsRepository
@inject Microsoft.AspNetCore.Components.NavigationManager navigation

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input for="Name" class="form-control" @bind="@emp.EmployeeName" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default" @onclick="@(async () => await CreateEmployee())">Save</button>
                <button class="btn" @onclick="@cancel">Cancel</button>
            </div>
        </form>
    </div>
</div>

@code {
    private MedicalBenefit emp = new MedicalBenefit();

    protected async Task CreateEmployee()
    {
        await Task.Run(() =>
        {
        });
        //await Http.SendJsonAsync(HttpMethod.Post, "/api/Employee/Create", emp);
        navigation.NavigateTo("/emedbenefit", true);
    }

    void cancel()
    {
        navigation.NavigateTo("/emedbenefit", true);
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() =>
        {
        });
        //eMedBenefits = await eBenefitsRepository.GetEmployeeMedBenefitsTestAsync();
    }
}
